<% provide(:title, 'Home') %>
<h1>ILL Requests</h1>
<p>
	Brown County Library's home-grown system for managing Ill Requests.
</p>

<ul>
	<li>Request an Item (not built)</li>
	<li>View Requests (not built)</li>
	<li>Receive an Item (not built)</li>
	<li>Return an Item (not built)</li>
	<li>Cancel a Request (not built)</li>
</ul>

