<div class="center hero-unit">
<h1>ILL Requests</h1>

<h2>	
	Brown County Library's home-grown system for managing Ill Requests.
</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>

<ul>
	<li>Request an Item (not built)</li>
	<li>View Requests (not built)</li>
	<li>Receive an Item (not built)</li>
	<li>Return an Item (not built)</li>
	<li>Cancel a Request (not built)</li>
</ul>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>
