<div class="center hero-unit">
<h1>ILL Requests</h1>

<h2>	
	Brown County Library's home-grown system<br / >
	for managing Ill Requests.
</h2>
<%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>

</div>

