<tr>
	<td><%= link_to request.title, request_path(request) %></td>
	<td><%= request.locationplaced %></td>
	<td><%= request.status.name %></td>
	<td><%= request.created_at.strftime("%D") %></td>
</tr>