<% provide(:title, 'Requests')%>
<h1>All Requests</h1>

<%= link_to 'New Request', new_request_path, class: "btn btn-primary" %>
<%= @requests.count %> requests
	<%# if session[:current_location]? %>
		<%#= link_to 'View Your Requests', requests_path %>
	<%# end %>
<%= render 'list' %>
