@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1{
	margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
 	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
	float: right;
	list-style: none;
	li {
		float: left;
		margin-left: 10px;
		}
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* forms */



input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	padding: 5px;
	height: auto;
	margin-bottom: 15px;
	@include box-sizing;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}	
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid;
		&:last-child {
			border-bottom: 1px solid;
		}
	}
}

/* activities */

.status {
	text-decoration: bold;
}

.timestamp { 
	color: $grayLight;
}


/* will_paginate */

/* .pagination {
	text-align: center;
	padding: 0.3em;
	cursor: default; 
	
	a, span, em {
		padding: 0.2em 0.5em; 
	}
  
	.disabled {
		color: #aaaaaa; 
	}

	.current {
		font-style: normal;
		font-weight: bold;
		color: #ff0084; 
	}
  
	a {
		border: 1px solid #dddddd;
		color: #0063dc;
		text-decoration: none;
		
		&:hover, &:focus {
			border-color: #003366;
			background: #0063dc;
			color: white; 
		}
	}
	
	.page_info {
		color: #aaaaaa;
		padding-top: 0.8em; 
	}
	
	.previous_page, .next_page {
		border-width: 2px; 
	}

	.previous_page {
		margin-right: 1em; 
	}

	.next_page {
		margin-left: 1em; 
	}
} 

<!-- <div class="pagination"><ul>
<li class="prev previous_page disabled"><a href="#">&#8592; Previous</a></li> 
<li class="active"><a rel="start" href="/requests?page=1">1</a></li> 
<li><a rel="next" href="/requests?page=2">2</a></li> 
<li class="next next_page "><a rel="next" href="/requests?page=2">Next &#8594;</a></li>
</ul></div> -->

*/
