<li>
	<span class="status_id"><%= activity.status_id %></span>
	<span class="status"><%= activity.status.name %></span>
	<span class="timestamp"><%= activity.created_at.strftime("%D, %l:%M %P") %></span>
</li>