<footer class="footer">
	<nav>
		<ul>
			<li><%= link_to "About This App", about_path %></li>
			<li><%= link_to "Brown County Library", 'http://www.browncountylibrary.org' %></li>
			<li><a href="http://www.worldcat.org/" target="_blank"><img border="0" src="http://www.worldcat.org/images/wc_badge_144x19.gif?ai=Brown_lhoffman1" width="144" height="19" alt="WorldCat lets people access the collections of libraries worldwide [WorldCat.org]" title="WorldCat lets people access the collections of libraries worldwide [WorldCat.org]"></a></li>
		</ul>
	</nav>
</footer>