<footer class="footer">
	<nav>
		<ul>
			<li><%= link_to "About This App", 'about_path' %></li>
			<li><%= link_to "Brown County Library", 'http://www.browncountylibrary.org' %>
		</ul>
	</nav>
</footer>